*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header nav{
    background: black;
    width: 100%;
    height: 50px;
}

header nav p{
    color: white ;
    float: left;
    text-align: center;
    padding: 1px;   
    width: 150px;
    height: 20px;
    margin: 8px;  
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
}

header .input{
    padding: 5px;
    float: right;
    width: 520px;
    height: 22px;
    margin: 8px;
   
}
header .input-decor{
    width: 180px;
    height: 22px;
    border: none;
    border-radius: 1px;
    text-align: center;
    margin-left: 8px;
    outline: none;
    border: rgb(172, 204, 28) 3px solid;
    border-radius: 2px;
}
header .input-boton{
    
    background: rgb(89, 199, 15);
    color: white;
    width: 100px;
    height: 28px;
    cursor: pointer;
    font-size: 15px;
    margin-left: 5px;
    outline: none;
    border: none;
    
}
form{
    position: absolute;
    top: 15%;
    left: 33.7%;
    outline: rgb(165, 8, 8) 8px solid;
    text-align: center;
    width: 380px;
    height: 530px; 
    padding: 20px;  
    background: white;
    
}
form .entradas{
    width: 250px;
    margin-bottom: 10px;
    text-align: center;
    height: 20px;
    outline: none;
}
.title{
    background: black;
    color: white;
    padding: 10px;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    top: -10px;
    left: -10px;
    font-size: 25px;
}

.redes-sociales a{
    display: inline-block;
    margin: 22px;
    text-decoration: none;
    
}
.redes-sociales .google{
    background: rgb(179, 81, 24);
    width: 100px;
    height: 25px;
    text-align: center;
    padding: 9px;
    color: white;
}
.redes-sociales .facebook{
    background: darkblue;
    width: 100px;
    height: 25px;
    padding: 9px;
    text-align: center;
    color: white;
}
.login{
    background: black;
    width: 97.5%;
    height: 15px;
    margin-left: -10px;
    color: white;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
}
.registro{
    width: 250px;
    height: 25px;
    cursor: pointer;
    color: white;
    background: rgb(8, 97, 8);
    border: none;
}
body{
    background: rgb(226, 224, 226);
}
